<div class='panel panel-primary' *ngIf='product'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle + ': ' + product.productName }}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Nome:</div>
                    <div class='col-md-6'>{{product.productName}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Código:</div>
                    <div class='col-md-6'>{{product.productCode}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Descrição:</div>
                    <div class='col-md-6'>{{product.description}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Disponibilidade:</div>
                    <div class='col-md-6'>{{product.releaseDate}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Preço:</div>
                    <div class='col-md-6'>{{product.price | currency:'BRS':true}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Avaliação dos Clientes:</div>
                    <div class='col-md-6'>
                        <bi-star [rating]='product.starRating'></bi-star>
                    </div>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='300' 
                     [style.margin.px]='20' 
                     [src]='product.imageUrl'
                     [title]='product.productName'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>