<!-- Página para apresentar Lista de Produtos -->

<!-- Início do Heading do Painel da Página -->
<div class="panel panel-success">
	<div class="panel-heading">
		{{pageTitle}}   
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">Filtrar por:</div>
			<div class="col-md-4">
				<input class="form-control" 
                       type="text"
                       [(ngModel)]="listFilter" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Filtrado por: {{listFilter}}</h3>
			</div>
		</div>
	</div>

	<!-- Área da tabela dos produtos filtrados -->
	<div class="table-responsive">
		<table class="table" *ngIf="products && products.length">
			<thead>
				<tr>
					<th>
						<button class="btn btn-success" (click)='toggleImage()'>
                            {{showImage ? 'Esconder' : 'Mostrar'}} Imagem
                        </button>
					</th>
					<th>Produto</th>
					<th>Código</th>
					<th>Disponível</th>
					<th>Preço</th>
					<th>Avaliação dos Clientes</th>
				</tr>
			</thead>
			<tbody>
                <tr *ngFor="let product of products | productFilter:listFilter">
                    <td>
                        <img *ngIf='showImage'
                             [src]='product.imageUrl' 
                             [title]='product.productName'
                             [style.width.px]='imageWidth'
                             [style.margin.px]='imageMargin'>
                    </td>
                   <td><a [routerLink]="['/product', product.productId]">
                            {{product.productName}}
                    	</a>
                    </td>
                    <td>{{product.productCode | lowercase}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price | currency:'BRS':true:'1.2-2'}}</td>
                    <td>
						<bi-star [rating]='product.starRating'
							(ratingClicked)='onRatingClicked($event)'>
						</bi-star>
					</td>
                </tr>
			</tbody>
		</table>
	</div>
</div>