<div class="quiz-area" ng-show="inProgress">
    <div class="repeated-item" ng-show="!quizOver">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>

        <button class="btn btn-lg btn-primary" ng-click="checkAnswer()" ng-show="answerMode">Verificar Resposta</button>
    
        <div ng-show="!answerMode">
            <span ng-show="correctAns">
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <strong>Recife</strong> é a capital de Pernambuco!"
                </div>
            </span>
            <span ng-show="!correctAns">
                <div class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Você errou! A capital de Pernambuco é <strong> Recife</strong>
				</div>  
            </span>
                <button ng-click="nextQuestion()" class="btn btn-lg btn-info next-question">Próxima Pergunta</button>
                <button class="btn btn-lg btn-danger" ng-click="reset()">Reiniciar</button>           
        </div>
    </div>

    <div ng-show="quizOver">
		<h2>Você completou o Teste!</h2>
		<button class="btn btn-lg btn-default" ng-click="reset()"><span class="glyphicon glyphicon-left" aria-hidden="true"></span> Realizar Novamente o Teste</button>
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<button class="btn btn-lg btn-primary" id="startQuiz" ng-click="start()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Começar o Teste</button>
</div>
</div>