<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <img src="./app/assets/images/logo.gif" 
            class="img-responsive center-block"
            style="max-height:500px;padding-bottom:50px" />
        </div>
        <div class="row">
            <div class="text-center">Desenvolvido por:</div>
            <h3 class="text-center">Glaucia Lemos</h3>

            <div class="text-center">@glaucia_lemos86</div>
            <div class="text-center">
                <a href="https://code4coders.wordpress.com/">Code4Coders - Site Glaucia Lemos</a>
            </div>
        </div>
    </div>
</div>