body {
  max-width: 1000px;
  margin: 0 auto;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

a {
  color: #ac005f;
}
a:hover,
a:focus {
  text-decoration: underline;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li.small-image {
  width: 50px;
}

li.small-image img {
  width: 100%;
}

img {
  max-width: 230px;
  max-height: 230px;
}

.img-wrap {
  background: #f8f8f8;
  height: 200px;
  margin: 0 auto 20px;
  padding: 10px;
  width: 200px;
}

.img-thumbnail {
  background: none;
  border: 0;
  height: auto;
  max-width: 100%;
}

.img-thumbnails {
  margin: 0 auto 10px;
  width: 200px;
}

.img-thumbnails .thumbnail {
  background: #f8f8f8;
  border: 0;
  margin-right: 25px;
  min-height: 50px;
}

.img-thumbnails .thumbnail:last-child {
  margin-right: 0;
}

.nav-pills {
  margin-bottom: 30px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #ac005f;
}

.nav-pills > li.active > a,
.btn-primary,
.btn-primary:focus {
  background: #ac005f;
  border: 0;
}

.nav-pills > li.active > a:hover,
.btn-primary:hover {
  background: #ac005f;
}

.bodyBackgroundColor {
  background-image: linear-gradient(to right, white, purple, yellow);
}

.newJumbotron {
    padding: 30px;
    margin-bottom: 30px;
    color: #FFF;
    background-color:#312d28;
    background-image: linear-gradient(to right, rgba(255,255,255,1) 1px, transparent 1px), linear-gradient(to right, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 50px 50px, 10px 30px;
    background-repeat: repeat-x;
}

/* Estilo para inclusão de um sticke footer */
.full {
    width: 100%;  
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.footer {
  background: #ac005f;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ff80ab;
  border-top: 1px solid #ac005f;
}

.footer p {
  margin: 0;
}

.footer img {
  max-width: 100%;
}

.footer h3 {
  border-bottom: 1px solid #ffebee;
  color: #ffebee;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: none;
}

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}

.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}

.footer a {
  color: #78828D
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: center;
  height: 30px;
  clear: both;
  width: 100%;
}

.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #FFFFFF;
}

.newsletter-box {
  overflow: hidden;
}

.bg-gray {
  background: #0d47a1;
}

.social li {
  background: none repeat scroll 0 0 #4a148c;
  border: 2px solid #6a1b9a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

.social li a {
  color: #FFFFFF;
}

.social li:hover {
  border: 2px solid #263238;
  background: #263238;
}

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.footer-bottom {
  background: #f06292;
  border-top: 1px solid #f06292;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}
/* Fim do estilo do Stick Footer */
