<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>Os Best-Sellers Ever!</title>

    <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" />

    <!-- Biblioteca do Angular.Js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
  </head>
  <body ng-app="myApp">
    <div class="header">
      <div class="container">
        <h1>Best-Sellers Store - A Loja dos Melhores Livros</h1>
      </div>
    </div>
    <div class="main" ng-controller="MainController">
      <div class="container">
        <h1>{{title}}</h1>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;{{promo}}</h2>

        <div ng-repeat="product in products" class="col-md-6">
          <div class="thumbnail">
            <img ng-src="{{product.cover}}" alt="The Book of Trees">
            <p class="title">{{product.name | uppercase}}</p>
            <p class="price">{{product.price | currency}}</p>
            <p class="date">{{product.pubDate | date}}</p>
            <div class="rating">
              <p class="likes" ng-click="plusOne($index)">+ {{product.likes}}</p>
              <p class="dislikes" ng-click="minusOne($index)">- {{product.dislikes}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Disponível para iPhone e Android.</h2>
        <img src="../img/app-store.png" width="120px" />
        <img src="../img/google-play.png" width="110px" />
      </div>
    </div>
    <!-- Módulos -->
    <script src="js/app.js"></script>

    <!-- Controladores -->
    <script src="js/controllers/MainController.js"></script>
  </body>
</html>
